<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lakolok</title>
        <link rel="stylesheet" href="/style.css"/>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div id="app"></div>
        <footer class="text-center">
            LaKolok
        </footer>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
